.width-200 {
    top: 0;
    width: 200px;
    margin-right: 32px;
    display: inline-block;
    border-radius: 16px;
    border: black 1px solid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    cursor: pointer;
}