.content {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: white;
    height: 100vh;
}

.snowflake {
    width: 8px;
    height: 8px;
    background-color: teal;
    position: fixed;
}

.button {
    display: inline-block;
    border-radius: 16px;
    border: black 1px solid;
    /*width: 128px;
    height: 128px; */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
}

.opacity {
    opacity: 0.5;
}

.no-decor {
    text-decoration: none;
    color: black;
}

canvas {
    border: black 1px solid;
}

body {
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
}

.fade-in {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.rotate {
    animation: swing 4s infinite 0s alternate;
}
@keyframes swing {
    0% {
        transform: rotate(6deg);
    }
    50% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(6deg);
    }
}
