.content {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    text-align: center;
    background-color: white;
}

canvas {
    border: black 1px solid;
}

body {
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
}
